@using Microsoft.AspNetCore.Components.Routing
@namespace AppWeb.Client.Components.Layout

@code {
    private bool collapsed;
    private void Toggle() => collapsed = !collapsed;
}

<div class="h-14 flex items-center justify-between px-4 bg-slate-800 text-white md:hidden">
    <a class="font-semibold tracking-wide" href="">AppWeb</a>
    <button class="p-1 focus:outline-none" @onclick="Toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</div>

<nav class="@($"px-2 pt-4 space-y-1 text-gray-300 {(collapsed ? "hidden md:block" : "block")}")">
    <NavLink class="block px-3 py-2 rounded hover:bg-slate-700" href="" Match="NavLinkMatch.All">
        <span class="inline-block w-5 mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7A.5.5 0 0 0 2 15h4a.5.5 0 0 0 .5-.5V11a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354l-6-6z" />
            </svg>
        </span>
        Home
    </NavLink>

    <NavLink class="block px-3 py-2 rounded hover:bg-slate-700" href="counter">
        <span class="inline-block w-5 mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM4.5 8a.5.5 0 0 1 .5-.5H7V6a.5.5 0 0 1 1 0v1.5H9.5a.5.5 0 0 1 0 1H8V10a.5.5 0 0 1-1 0V8.5H5a.5.5 0 0 1-.5-.5z" />
            </svg>
        </span>
        Counter
    </NavLink>

    <NavLink class="block px-3 py-2 rounded hover:bg-slate-700" href="users">
        <span class="inline-block w-5 mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
        </span>
        Users
    </NavLink>
</nav>