# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Others
*.log
*.tmp
*.bak
*.swp

# Rider
.idea/

# Local secrets
appsettings.Development.json
secrets.json

# Node
node_modules/