@page "/error"

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>
<p>An unexpected error occurred while processing your request.</p>

<p> Please try again later or contact support. </p>