@page "/users"

<PageTitle>Users</PageTitle>

<MudText Typo="Typo.h5" Class="mb-4">Users</MudText>

@if (users is null) { <MudProgressCircular Indeterminate Size="Size.Medium" Class="m-4" /> }
else if (users.Count == 0) { <p>No users found.</p> }
else { <UserTable Users="users" OnAdd="HandleAddUser" /> }